<div class="beers">
    <ul>
        <li>
            {{>beerpartial}}
            <p><strong>Food pairing: </strong>{{food_pairing    }}</p>
            <p><strong>Brewers tips: </strong>{{brewers_tips}}</p>
        </li>
    </ul>
</div>